{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
    HOME
{% endblock %}

{% block main %}

<!--  -->
{% for conteudo in conteudos %}
    <div class="carousel-item">
        <div class="card-group">
            <div class="card" >
                <img class="card-img-top" src="media/{{ conteudo.imagem }}" alt= {{ conteudo.usuario }} width="2%" height="40%"/>
                <div class="card-body">
                    <h5 class="card-title">{{ conteudo.titulo }}</h5>
                <p class="card-text">{{ conteudo.descricao }}</p>
                <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
