{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
    HOME
{% endblock %}
{% block main %}

<div class="card-group">
{% for conteudo in conteudos %}
    <div class="card">
        <img class="card-img-top" src="media/{{ conteudo.imagem }}" alt= {{ conteudo.usuario }} width="50" height="50"/>
        <div class="card-body">
            <h5 class="card-title">{{ conteudo.titulo }}</h5>
        <p class="card-text">{{ conteudo.descricao }}</p>
        <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}